.login-component {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 100vh;
    padding-left: 1rem;
    padding-right: 1rem;
}

.form-group {
    margin-bottom: 12px;
}

.header-three .text-left {
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.05em;
    color: #1D1D1D;
}

.input-uniqueId {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.05em;
    color: #1D1D1D;

}

.login-component .form-group input {
    width: 328px;
    height: 48px;
    background-color: #FFFFFF;
    border: 1px solid #E5E5E5;
    font-size: 1.5rem;
}

.forgot-password .text-center {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    text-decoration-line: underline;
    color: #1D1D1D;
    cursor: pointer;
}

.header-three {
    margin-bottom: 2.5rem;
}

.login-component .submit {
    background-color: #FFE0AB;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    width: 32rem;
}

form {
    margin-bottom: 10rem;
    display: flex;
    flex-direction: column;
}

.forgot-password {
    margin-bottom: 3.8rem;
    margin-top: 2rem;
    text-align: center;
    color: #1D1D1D;
}