* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  font-weight: 400;
  color: black;
}

html {
  font-size: 62.5%;

}

label {
  font-size: 1.4rem;
  color: #1D1D1D;
  line-height: 1.6rem;
  font-weight: 500;
  margin-bottom: 0.9rem;
}

h3 {
  color: #1D1D1D;
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 2rem;
}

.home-component {
  width: 375px;
  background-color: #F5F5F5;
  height: 100vh;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}



/* Begin Nav Components */
.double-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 3.5rem;
  font-size: 3rem;
}

.left-arrow {
  border: 1px solid #E5E5E5;
  font-weight: lighter;
  border-radius: .5rem;
  color: #212529;
  cursor: pointer;
}

/* End Nav Components */



/* Begin Request Components */
.border-center {
  margin-left: 14rem;
  width: 26%;
}

.border-left {
  float: left;
  width: 30%;
}

.border-right {
  margin-left: 26.3rem;
  width: 29%;
}

.tab-component {
  position: relative;
  margin-top: -1rem;
}

.border-tab-top {
  margin-top: -2.5rem;

  border-top: 3px solid #151415;
  position: absolute;
}

.tab-name {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border-bottom: 5rem;
}

.tab-name-style {
  text-transform: capitalize;
  color: #575757;
}

.request-component {
  display: flex;
  flex-direction: row;
  margin: 1rem 1rem -1rem 2rem;
  /* margin-left: 1rem; */
}

.request-question-logo {
  height: 4rem;
  width: 4rem;
  font-size: 2rem;
  background-color: #FFE0AB;
  border-radius: 5px;
  position: relative;
}

.request-question-logo .question-logo {
  color: #FEA102;
  font-size: 3rem;
  position: absolute;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.request-component .request-text {
  margin-left: 1rem;
  letter-spacing: 0.1rem;
  line-height: 3rem;
  /* border: #FEA102 1px solid; */
  text-transform: capitalize;
}

.request-component .request-text p {
  color: #575757;
}

.request-component .request-text h5 {
  color: #1D1D1D;
}

/* End Request Components */

.delivery-component {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 2rem;
  /* line-height: 4.5rem; */
}

.delivery-component .tracker {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  line-height: 1rem;
  padding: 1rem;
}

/* .delivery-component .delivery-margin {
  margin-top: 3rem;
  margin-bottom: 3rem;
} */

/* .delivery-component .destination{
  display: flex;
  
} */

.delivery-component .destination {
  display: flex;
  flex-direction: column;
  background-color: #FDFBFF;
  padding: 1rem;
  font-size: 1.3rem;
  margin-top: 1.5rem;
}

.destination-details-top p {
  text-transform: uppercase;
  color: #575757;
  font-weight: 700;
}

.delivery-component .reciever .reciever-head {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.delivery-component .reciever .reciever-contact {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 2.8rem;
}

.delivery-component .destination-margin {
  margin-bottom: 1.9rem;
  /* margin-top: 1rem; */
}

.delivery-component .reciever .reciever-contact .email {
  margin-top: 3rem;
}

.delivery-component .tracker p {
  color: #575757;
  font-size: 1.5rem;
}

.delivery-component .tracker h5 {
  color: #1D1D1D;
}

.delivery-component .tracking-number {
  display: flex;
  flex-direction: column;
}

.delivery-component .delivery-date {
  display: flex;
  flex-direction: column;
}

.pickup {
  margin-top: 1.7rem;
  display: flex;
  flex-direction: column;
  background-color: #FDFBFF;
  padding: 1rem;
  font-size: 1.3rem;
}

/* .pickup .pickup-details{

} */

.pickup .sender {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.package-details {
  padding: 1rem;
  margin-top: 2rem;
  background-color: #FDFBFF;
}

.pickup .pickup-margin {
  margin-top: 1.5rem;
}

.package-details {
  background-color: #FDFBFF;
}

.package-details p {
  color: #575757;
  font-size: 1.1rem;
  line-height: 1.2rem;
  font-weight: 700;
  margin-bottom: 2.4rem;
}

.package-details h5 {
  color: #1D1D1D;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  margin-top: -1rem;
}

.button {
  background: #FEA102;
  border-radius: .5rem;
  border: none;
  color: #151415;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.05em;
  margin-top: 5rem;
}







/* Begin details component */
.detailes-component {
  padding: 1rem;
  position: relative;
}

.check-icon {
  background-color: #85E0A3;
  height: 3.5rem;
  width: 3.5rem;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
}

.detailes-component h4 {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 4rem;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: #1D1D1D;
}

.detailes-component hr {
  margin-top: 7rem;
}

.detailes-component .tracking {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 2.5rem;
}

.detailes-component .tracking p {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.05em;
  color: #575757;
}

.detailes-component .tracking h5 {
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.05em;
  color: #1D1D1D;
}

.detailes-component .request-status {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.detailes-component .request-status h2 {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.05em;
  color: #1D1D1D;
  margin-top: 3rem;
  /* padding: .8rem; */
}

.detailes-component .request-status .request-status-green {
  padding: 1rem;
  background-color: #85E0A3;
  border-radius: 8px;
  cursor: pointer;
}

.request-status-left {
  /* margin-right: 2rem;
  color: #FEA102;
  background-color: #85E0A3; */
  padding-top: 1rem;
}

.request-detail-component {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 3rem;
  background: #FDFBFF;
  border-radius: 8px;
  padding-left: 1rem;
  /* padding: 0px 1rem 0px 1rem ; */
}

.request-detail-component .request-detail-component-header {
  font-weight: 700;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 0.05em;
  color: #575757;
  padding-top: 1.5rem;
  text-transform: uppercase;
}

.request-detail-component h3 {
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.05em;
  color: #1D1D1D;
  margin-top: 1.3rem;
}

.request-detail-component p {
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.05em;
  color: #575757;
  margin-top: 1.3rem;
}

.request-detail-component .request-detail-component-reciever {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-right: 3rem;
}

.request-detail-component .request-detail-component-reciever-contact {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}

.request-detail-component .request-detail-component-email {
  margin-top: 4rem;
  padding-bottom: 1rem;
}

.request-detail-component .reciever-margin-top {
  margin-top: 1.3rem;
}

/* End details component */

.page-transfer-component {
  padding: 1.5rem;
}

.input-field-component {
  padding: 1rem;
  /* background-color: #85E0A3; */
}

.input-field-component input {
  width: 31.8rem;
  height: 4.5rem;
  border-radius: .5rem;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.05em;
  color: #1D1D1D;
}

.input-field-component input:focus {
  border-color: #FEA102;
  outline: none !important;
  box-shadow: 0 0 10px #FEA102;
}

.input-field-component label {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.05em;
  color: #1D1D1D;
  padding-bottom: .4rem;
}

.input-field-component :placeholder-shown {
  font-size: 2rem;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.05em;
  color: #1D1D1D;
}

.page-transfer-component .page-transfer-component-header h3 {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  letter-spacing: 0.05em;
  color: #1D1D1D;
  margin-bottom: -.5rem;
}

.page-transfer-component .page-transfer-component-header p {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.05rem;
  color: #575757;
  padding: 1.7rem;
}


.reciever-name-span {
  width: 328px;
  height: 152px;
  background: #FDFBFF;
  border-radius: 8px;
  padding: 1rem;
  margin-top: 1.3rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

.reciever-name-span .reciever-name {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.reciever-name-span .reciever-contact {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.reciever-name-span h4 {
  font-weight: 700;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 0.05rem;
  text-transform: uppercase;
  color: #575757;

}

.reciever-name-span .reciever-name-span-margin-top {
  margin-bottom: 2rem;
}

.reciever-name-span h5 {
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.05em;
  color: #1D1D1D;
}

.reciever-name-span p {
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.05em;
  color: #575757;
}

.reciever-name-span .reciever-contact .reciever-email {
  margin-top: 2.7rem;
}

.page-transfer-component small {
  padding-bottom: 30.5rem;
}


.page-transfer-component a {
  margin-top: 46rem;
}

.scan-component {
  padding: 1rem;
}

.scan-component h3 {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.05em;
  color: #1D1D1D;
}

.scan-component p {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.05em;
  color: #575757;
}

.scan-component .button {
  width: 32rem;
  margin-left: 1rem;
}