* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  font-weight: 400;
  color: black;
}

html {
  font-size: 62.5%;

}

label {
  font-size: 1.4rem;
  color: #1D1D1D;
  line-height: 1.6rem;
  font-weight: 500;
  margin-bottom: 0.9rem;
}

h3 {
  color: #1D1D1D;
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 2rem;
}

.home-component {
  width: 375px;
  background-color: #F5F5F5;
  height: 100vh;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}



/* Begin Nav Components */
.double-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 3.5rem;
  font-size: 3rem;
}

.left-arrow {
  border: 1px solid #E5E5E5;
  font-weight: lighter;
  border-radius: .5rem;
  color: #212529;
  cursor: pointer;
}

/* End Nav Components */



/* Begin Request Components */
.border-center {
  margin-left: 14rem;
  width: 26%;
}

.border-left {
  float: left;
  width: 30%;
}

.border-right {
  margin-left: 26.3rem;
  width: 29%;
}

.tab-component {
  position: relative;
  margin-top: -1rem;
}

.border-tab-top {
  margin-top: -2.5rem;

  border-top: 3px solid #151415;
  position: absolute;
}

.tab-name {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border-bottom: 5rem;
}

.tab-name-style {
  text-transform: capitalize;
  color: #575757;
}

.request-component {
  display: flex;
  flex-direction: row;
  margin: 1rem 1rem -1rem 2rem;
  /* margin-left: 1rem; */
}

.request-question-logo {
  height: 4rem;
  width: 4rem;
  font-size: 2rem;
  background-color: #FFE0AB;
  border-radius: 5px;
  position: relative;
}

.request-question-logo .question-logo {
  color: #FEA102;
  font-size: 3rem;
  position: absolute;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.request-component .request-text {
  margin-left: 1rem;
  letter-spacing: 0.1rem;
  line-height: 3rem;
  /* border: #FEA102 1px solid; */
  text-transform: capitalize;
}

.request-component .request-text p {
  color: #575757;
}

.request-component .request-text h5 {
  color: #1D1D1D;
}

/* End Request Components */

.delivery-component {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 2rem;
  /* line-height: 4.5rem; */
}

.delivery-component .tracker {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  line-height: 1rem;
  padding: 1rem;
}

/* .delivery-component .delivery-margin {
  margin-top: 3rem;
  margin-bottom: 3rem;
} */

/* .delivery-component .destination{
  display: flex;
  
} */

.delivery-component .destination {
  display: flex;
  flex-direction: column;
  background-color: #FDFBFF;
  padding: 1rem;
  font-size: 1.3rem;
  margin-top: 1.5rem;
}

.destination-details-top p {
  text-transform: uppercase;
  color: #575757;
  font-weight: 700;
}

.delivery-component .reciever .reciever-head {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.delivery-component .reciever .reciever-contact {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 2.8rem;
}

.delivery-component .destination-margin {
  margin-bottom: 1.9rem;
  /* margin-top: 1rem; */
}

.delivery-component .reciever .reciever-contact .email {
  margin-top: 3rem;
}

.delivery-component .tracker p {
  color: #575757;
  font-size: 1.5rem;
}

.delivery-component .tracker h5 {
  color: #1D1D1D;
}

.delivery-component .tracking-number {
  display: flex;
  flex-direction: column;
}

.delivery-component .delivery-date {
  display: flex;
  flex-direction: column;
}

.pickup {
  margin-top: 1.7rem;
  display: flex;
  flex-direction: column;
  background-color: #FDFBFF;
  padding: 1rem;
  font-size: 1.3rem;
}

/* .pickup .pickup-details{

} */

.pickup .sender {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.package-details {
  padding: 1rem;
  margin-top: 2rem;
  background-color: #FDFBFF;
}

.pickup .pickup-margin {
  margin-top: 1.5rem;
}

.package-details {
  background-color: #FDFBFF;
}

.package-details p {
  color: #575757;
  font-size: 1.1rem;
  line-height: 1.2rem;
  font-weight: 700;
  margin-bottom: 2.4rem;
}

.package-details h5 {
  color: #1D1D1D;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  margin-top: -1rem;
}

.button {
  background: #FEA102;
  border-radius: .5rem;
  border: none;
  color: #151415;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.05em;
  margin-top: 5rem;
}